<div id="registerhome" align="right">
	<a class="button" href="/">Home</a>
</div>
<div id="registerbox">
	
	<div id="registerboxheader">
		<h1>Step 2: Create a Password</h1>
	</div>
	<div id="registerpasswordform">
		
		<form enctype="multipart/form-data" method="POST" action="register2" name ="passwordform" onsubmit="return checkpassword()">
			<div class="errmsg" id="passworderrormsg" style="display:none;"></div>
			<p>New Password <input type="password" name="password" ></p>
			<p>Confirm Password <input type="password" name="confirmpassword"></p>
			<button class="button" id="registerformpasswordbutton" type="submit">Submit</button>	
		</form>
	</div>
	
</div>	