<div id="loginregister" align="right">
	<a class="button" href="/login">Login</a>&nbsp;&nbsp;&nbsp;
	<a class="button" href="/register">Register</a>
</div>
<div id="homecontent" align="center">
	<p>Search your facebook timeline for specific statuses, posts, photos, etc and relive those moments from your timeline.</p>
	<p>It's easy to use. Just follow the following steps for registration: 
		<div id="list1">
			<ul>
				<li>Login to your fb account</li>
				<li>Click on: account setting -> general account settings -> Download a copy of you facebook data -> Download expanded archive</li>
				<li>You will be able to download few pretty big html files.</li>
				<li>Click on the 'Register' button on top right corner of this page</li>
				<li>Select the appropriate files from the archive you downloaded and upload them</li>
				<li>Once you submit the required files, we create a username for you which is same as your facebook username. You just need to create a password asked in the next step.</li>
			</ul>
		</div>
	</p>
	<p>Once you have created an account with us, just login on to your account and enjoy searching stuffs from your timeline.</p>
</div>
