<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Facebook Timeline Search</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<%= css :app %>
		<%= js :app %>
	</head>
	<body>
		<div id="header">
			<br />
			<div id="searchimage"><a href="/"><img src="img/facebook-search-2251.jpg" width="200px" height="80px" /></a></div>
			<div id="theme"><h1 align="center"> Facebook &nbsp;&nbsp;Timeline &nbsp;&nbsp;Search</h1></div>
		</div>
		<%= yield %>
	</body>
</html>	