<div id="loginhome" align="right">
	<a class="button" href="/">Home</a>
</div>
<div id="loginbox">
	
	<div id="loginboxheader">
		<h1> Enter Your Login Details</h1>
	</div>
	<div id="loginform">
		<div id="spinner" class="spinner" style="display:none;">
			<div class="loader-msg">
				Please Wait..
			</div>
		</div>
		<form onsubmit='return false;' name="loginform">
			<div class="errmsg" id="loginerrormsg" style="display:none;"></div>
			<p>UserName <input type="text" name="user" ></p>
			<p>Password <input type="password" name="password"></p>
			<div id="loginformbutton">
				<button class="button" type="submit">Login</button>&nbsp;&nbsp;&nbsp;
			<a href="register"><button class="button" type="button">Register</button></a></div>
		</form>
	</div>
	
</div>	