#loginregister
{
	margin-top:50px;
	margin-right:100px;
}
#homecontent
{
	margin-top:50px;
	width:900px;
	font-family: 'Open Sans', sans-serif;
	font-size:19px;
	margin-left:80px;
	word-spacing:4px;
	color: #505050;
}
#list1
{
	text-align:left;
}